<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= responseData.title %></h3>
    </div>
    <div class="panel-body">
        <%= responseData.msg %>
    </div>
    <div class="panel-heading">
        <a href="<%= responseData.url %>">返回上一页</a>
    </div>
</div>