<ol class="breadcrumb">
    <li><a href="/admin">后台</a></li>
    <li class="active">用户列表</li>
</ol>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>是否是管理员</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>false</td>
        </tr>
    </tbody>
</table>

<% include ../common/navigation %>