<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header class="banner"></header>
    <div class="nav-wrap">
        <nav class="nav">
            <a href="javascript:;">首页</a>
            <a href="javascript:;">生活</a>
            <a href="javascript:;">技术</a>
        </nav>
    </div>
    <div class="content">
        <div class="content-left">
            <ul class="content-list">
                <li class="content-item">
                    <h3 class="content-item-title">标题</h3>
                    <div class="content-item-info">
                        <span>作者：xxx</span>
                        <span>时间：2018年xxx</span>
                        <span>阅读：xxx</span>
                        <span>评论：xxx</span>
                    </div>
                    <div class="content-item-summary">
                        <span>hello world ...</span>
                    </div>
                    <div class="content-item-ope">
                        <a class="content-item-btn" href="javascript:;">阅读全文</a>
                    </div>
                </li>
                <li class="content-item">
                    <h3 class="content-item-title">标题</h3>
                    <div class="content-item-info">
                        <span>作者：xxx</span>
                        <span>时间：2018年xxx</span>
                        <span>阅读：xxx</span>
                        <span>评论：xxx</span>
                    </div>
                    <div class="content-item-summary">
                        <span>hello world ...</span>
                    </div>
                    <div class="content-item-ope">
                        <a class="content-item-btn" href="javascript:;">阅读全文</a>
                    </div>
                </li>
                <li class="content-item">
                    <h3 class="content-item-title">标题</h3>
                    <div class="content-item-info">
                        <span>作者：xxx</span>
                        <span>时间：2018年xxx</span>
                        <span>阅读：xxx</span>
                        <span>评论：xxx</span>
                    </div>
                    <div class="content-item-summary">
                        <span>hello world ...</span>
                    </div>
                    <div class="content-item-ope">
                        <a class="content-item-btn" href="javascript:;">阅读全文</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-right">
            <div class="user-info">
                <h3 class="user-info-title">用户信息</h3>
                <div class="user-info-username">admin</div>
                <div class="user-info-ope">你好，你是管理员，<a href="javascript:;">管理后台</a></div>
                <div class="user-info-logout"><span>退出</span></div>
            </div>
            <div class="reg-or-login">
                <h3 class="rol-title">注册</h3>
                <ul class="rol-list">
                    <li>
                        <input class="rol-username" type="text" placeholder="请输入用户名">
                    </li>
                    <li>
                        <input class="rol-password" type="text" placeholder="请输入密码">
                    </li>
                    <li>
                        <input class="rol-repassword" type="text" placeholder="请确认密码">
                    </li>
                    <li>
                        <span class="rol-btn">登录</span>
                    </li>
                    <li>
                        <span class="rol-tip">还没注册？</span>
                        <a href="javascript:;" class="rol-link">马上登录</a>
                    </li>
                </ul>
            </div>
            <div class="friend-link">
                <h3 class="fl-title">友链</h3>
                <ul class="fl-list">
                    <li>
                        <a target="_blank" href="https://nodejs.org/zh-cn/">Node.js</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <span>学习交流</span>
    </footer>
</body>

</html>