<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/jquery.Jcrop.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header class="banner"></header>
    <div class="nav-wrap">
        <nav class="nav">
            <a class="active" href="javascript:;">首页</a>
            <a href="javascript:;">生活</a>
            <a href="javascript:;">技术</a>
        </nav>
    </div>
    <div class="content">
        <div class="content-left">
            <ul class="content-list">
                <li class="content-item">
                    <h3 class="content-item-title">标题</h3>
                    <div class="content-item-info">
                        <span>作者：xxx</span>
                        <span>时间：2018年xxx</span>
                        <span>阅读：xxx</span>
                        <span>评论：xxx</span>
                    </div>
                    <div class="content-item-summary">
                        <span>hello world ...</span>
                    </div>
                    <div class="content-item-ope">
                        <a class="content-item-btn" href="javascript:;">阅读全文</a>
                    </div>
                </li>
                <li class="content-item">
                    <h3 class="content-item-title">标题</h3>
                    <div class="content-item-info">
                        <span>作者：xxx</span>
                        <span>时间：2018年xxx</span>
                        <span>阅读：xxx</span>
                        <span>评论：xxx</span>
                    </div>
                    <div class="content-item-summary">
                        <span>hello world ...</span>
                    </div>
                    <div class="content-item-ope">
                        <a class="content-item-btn" href="javascript:;">阅读全文</a>
                    </div>
                </li>
                <li class="content-item">
                    <h3 class="content-item-title">标题</h3>
                    <div class="content-item-info">
                        <span>作者：xxx</span>
                        <span>时间：2018年xxx</span>
                        <span>阅读：xxx</span>
                        <span>评论：xxx</span>
                    </div>
                    <div class="content-item-summary">
                        <span>hello world ...</span>
                    </div>
                    <div class="content-item-ope">
                        <a class="content-item-btn" href="javascript:;">阅读全文</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-right">
            <%if(userInfo){%>
            <div class="user-info">
                <h3 class="user-info-title">用户信息</h3>
                <div class="user-info-con">
                    <div class="uic">
                        <div class="avatar">
                            <input id="js-avatar-file" class="avatar-file" type="file" name="avatar">
                            <img id="js-avatar-img" src="/public/upload/<%=userInfo.avatar%>" alt="">
                        </div>
                        <div class="uic-info">
                            <p><span>用户名：<%=userInfo.username%></span></p>
                            <p><span class="modify-avatar">裁切头像</span></p>
                            <p><span id="js-logout-btn" class="logout-btn">退出</span></p>
                        </div>
                    </div>
                    <%if(userInfo.isAdmin){%>
                    <div class="user-info-ope">你好，你是管理员，<a href="javascript:;">管理后台</a></div>
                    <%}%>
                </div>
            </div>
            <%}%>
            <%if(!userInfo){%>
            <div class="reg-or-login" id="js-loginbox">
                <h3 id="js-login-title" class="rol-title">登录</h3>
                <ul class="rol-list">
                    <li>
                        <input id="js-username" class="rol-username" type="text" placeholder="请输入用户名">
                    </li>
                    <li>
                        <input id="js-password" class="rol-password" type="text" placeholder="请输入密码">
                    </li>
                    <li>
                        <input style="display: none;" id="js-repassword" class="rol-repassword" type="text" placeholder="请确认密码">
                    </li>
                    <li>
                        <span id="js-loginorreg-btn" class="rol-btn">登录</span>
                    </li>
                    <li>
                        <span id="js-login-reg-tip" class="login-reg-tip"></span>
                        <span id="js-login-tip" class="rol-tip">没有账号？</span>
                        <a id="js-login-change" href="javascript:;" class="rol-link">马上注册</a>
                    </li>
                </ul>
            </div>
            <%}%>
            <div class="friend-link">
                <h3 class="fl-title">友链</h3>
                <ul class="fl-list">
                    <li>
                        <a target="_blank" href="https://nodejs.org/zh-cn/">Node.js</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <span>学习交流</span>
    </footer>
    <div class="mask">
        <div class="dialog-cut-img">
            <div class="dci-title">裁剪</div>
            <div class="dci-con">
                <div class="jc-demo-box">
                    <img src="/public/upload/avatar.jpg" id="js-cut-img" alt="avatar" />
                    <div id="preview-pane" class="sm-cut">
                        <div class="preview-container">
                            <img src="/public/upload/avatar.jpg" class="jcrop-preview" alt="Preview" />
                        </div>
                    </div>
                </div>
                <div class="dci-con-ope">
                    <span id="cutImage" class="upload-btn">裁剪</span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.8.0/jquery.min.js"></script>
    <script src="/public/js/jquery.Jcrop.js"></script>
    <script src="/public/js/utils.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>