html {
    /* background-color: #EBEBEB; */
}
body{
    color: #201B16;
    font-size: 14px;
    background: url(/public/images/dust.png) repeat;
}
a{
    text-decoration: none;
}
a:link{
    color: #273035;
}
a:hover{
    color: #449d44;
}

/* banner */

.banner {
    height: 222px;
    background: url(/public/images/hello-i-m-nik-800113-unsplash.jpg) no-repeat center center;
}

/* 导航 */

.nav-wrap {
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(219,216,199);
}

.nav {
    margin: 0 auto;
    width: 1000px;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
}

.nav a {
    margin: 0 20px;
}
.nav .active{
    color: #5cb85c;
}

.content {
    margin: 0 auto;
    width: 1000px;
    display: flex;
}

/* 左 */
.content-left{
    width: 700px;
}
.content-item{
    margin: 20px 0;
    background-color: #fff;
    padding: 30px;
}
.content-item-title{
    text-align: center;
    font-size: 18px;
}
.content-item-info{
    text-align: center;
    margin-top: 20px;
    color: #ccc;
}
.content-item-summary{
    margin-top: 20px;
}
.content-item-ope{
    margin-top: 20px;
}
a.content-item-btn{
    color: #5cb85c;
    text-decoration: underline;
}
.content-item-btn:hover{
    color: #449d44;
}


/* 右 */
.content-right{
    padding-top: 20px;
    flex: 1;
    margin-left: 20px;
}
.user-info{
    margin-bottom: 20px;
    background-color: #fff;
}
.user-info-title{
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
}
.user-info-con{
    padding: 20px;
}
.uic{
    display: flex;
    justify-content: center;
    line-height: 20px;
}
.avatar{
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.avatar img{
    width: 100%;
    height: 100%;
}
.uic-info{
    padding-left: 15px;
}
.uic-info p:nth-of-type(1) {
    margin-top: 5px;
}
.uic-info p:nth-of-type(2) {
    margin-top: 5px;
}
.user-info-ope{
    margin-top: 20px;
    text-align: center;
}
.user-info-ope a{
    color: #5cb85c;
    text-decoration: underline;
}
.user-info-ope a:hover{
    color: #449d44;
}

.user-info-logout{
    margin-top: 10px;
}
.logout-btn{
    color: #5cb85c;
    cursor: pointer;
}
.logout-btn:hover{
    color: #449d44;
}

/* 注册/登录 */
.reg-or-login{
    background-color: #fff;
    padding-bottom: 20px;
}
.rol-title{
    font-size: 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.rol-list{
    padding: 10px 20px 0;
}
.rol-list li:last-of-type{
    margin-top: 20px;
    text-align: right;
    font-size: 12px;
}
.rol-list .rol-link{
    color: #5cb85c;
}
.rol-list .rol-link:hover{
    color: #449d44;
}
.login-reg-tip{
    float: left;
    display: none;
}
.tip-err{
    color: #ec971f;
}
.tip-suc{
    color: #5cb85c;
}
.reg-or-login li{
    margin-top: 10px;
}
.reg-or-login input{
    border-radius: 4px;
    padding: 0 6px;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.reg-or-login input:focus{
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.rol-btn{
    border-radius: 4px;
    color: #fff;
    display: block;
    height: 26px;
    line-height: 26px;
    background-color: #5cb85c;
    text-align: center;
    cursor: pointer;
    border: 1px solid #4cae4c;
}
.rol-btn:hover{
    background-color: #449d44;
    border-color: #398439;
}


/* 友情链接 */
.friend-link{
    margin-top: 20px;
    background-color: #fff;
}
.fl-title{
    font-size: 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.fl-list{
    line-height: 24px;
    padding: 20px;
}
.fl-list a{
    text-decoration: underline;
}

/* 页脚 */
.footer{
    height: 56px;
    line-height: 56px;
    background-color: #1D1812;
    text-align: center;
    color: #fff;
}