<div class="comment">
    <div class="ct-title">
        <span>评论</span>
        <span>一共有<i>0</i>条评论</span>
    </div>
    <div class="ct-user">aaa</div>
    <div class="ct-input">
        <textarea class="ct-input-con" name="" id="" cols="30" rows="10"></textarea>
        <span class="ct-input-btn">提交</span>
    </div>
    <% if(!userInfo) { %>
    <div class="ct-login-tip">
        <span>你还没有登录，请先登录！</span>
    </div>
    <% } %>
    <div class="ct-none">
        <span>还没有评论</span>
    </div>
    <ul class="ct-list">
        <li>
            <div class="avatar">

            </div>
            <div class="cl-info">
                <div class="cl-info-title">
                    <span class="cl-info-username">aaa</span>
                    <span class="cl-info-date">2018年9月8号</span>
                </div>
                <div class="cl-info-con">
                    <span>这里是内容嘻嘻嘻嘻嘻嘻嘻</span>
                </div>
            </div>
        </li>
    </ul>
</div>