<div class="details">
    <ul class="content-list">
        <li class="content-item">
            <h3 class="content-item-title">标题</h3>
            <div class="content-item-info">
                <span class="cii-name">作者：<i>xxx</i></span>
                <span class="cii-time">时间：<i>2018年xxx</i></span>
                <span class="cii-read-count">阅读：<i>xxx</i></span>
                <span class="cii-comment-count">评论：<i>xxx</i></span>
            </div>
            <div class="content-item-summary">
                <span>上周我们 发布 了一个新版本，包含了大家期盼已久的功能：主题模板和网站对本地化的支持。 这个功能完全是由我们的一个贡献者（Juan）开发的，Ghost 基金提供了支持。 我们已经针对这个功能编写了完整的文档，下面就来介绍一下这个功能是如何工作的： 网站本地化 你可以在 Ghos ...</span>
            </div>
        </li>
    </ul>
    <div class="comment">
        <div class="ct-title">
            <span>评论</span>
            <span>一共有<i>0</i>条评论</span>
        </div>
        <div class="ct-user">aaa</div>
        <div class="ct-input">
            <textarea class="ct-input-con" name="" id="" cols="30" rows="10"></textarea>
            <span class="ct-input-btn">提交</span>
        </div>
        <% if(!userInfo) { %>
        <div class="ct-login-tip">
            <span>你还没有登录，请先登录！</span>
        </div>
        <% } %>
        <div class="ct-none">
            <span>还没有评论</span>
        </div>
        <ul class="ct-list">
            <li>
                <div class="avatar">

                </div>
                <div class="cl-info">
                    <div class="cl-info-title">
                        <span class="cl-info-username">aaa</span>
                        <span class="cl-info-date">2018年9月8号</span>
                    </div>
                    <div class="cl-info-con">
                        <span>这里是内容嘻嘻嘻嘻嘻嘻嘻</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="avatar">

                </div>
                <div class="cl-info">
                    <div class="cl-info-title">
                        <span class="cl-info-username">aaa</span>
                        <span class="cl-info-date">2018年9月8号</span>
                    </div>
                    <div class="cl-info-con">
                        <span>这里是内容嘻嘻嘻嘻嘻嘻嘻</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>