<% if(userInfo){ %>
<div id="js-mask" class="mask">
    <div class="dialog-cut-img">
        <div class="dci-title">裁剪</div>
        <div id="js-dci-con" class="dci-con">
            <div class="jc-demo-box">
                <img src="/public/upload/<%= userInfo.avatar %>" id="js-cut-img" alt="avatar" />
                <div id="preview-pane" class="sm-cut">
                    <div class="preview-container">
                        <img src="/public/upload/<%= userInfo.avatar %>" class="jcrop-preview" alt="Preview" />
                    </div>
                </div>
            </div>
            <div class="dci-con-ope">
                <span id="js-cut-img-btn" class="upload-btn">裁剪</span>
            </div>
        </div>
    </div>
</div>
<% } %>