<div class="nav-wrap">
    <nav class="nav">
        <a href="/">首页</a>
        <% classifies.forEach((item,idx) => { %>
        <a href="javascript:;"><%= item.name %></a>
        <% }); %>
    </nav>
</div>