<div class="nav-wrap">
    <nav class="nav">
        <a class="<%= !classifyid && 'active' %>" href="/">首页</a>
        <% classifies.forEach((item,idx) => { %>
        <a class="<%= classifyid == item._id && 'active' %>" href="/?classifyid=<%= item._id %>"><%= item.name %></a>
        <% }); %>
    </nav>
</div>